/* Fonts */

body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    font-weight: 400;

    background-image: url("img/white back background.png");
    background-repeat: no-repeat;
}

.index-header {
    background-image: url("img/grey back.png");
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

.studio-logo:hover,
.studio-logo:focus {
    opacity: 0.8;
}

.studio-logo:active {
    opacity: 0.3;
}

.main-navigation ul,
.main-navigation li{
    display: inline-block;
}

.main-navigation .nav-list {
    list-style: none;
}
.main-navigation li{
    border: none;
}

.main-navigation a,
.user-block a {
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus,
.user-block a:hover,
.user-block a:focus {
    color: #fb565a;
}

.main-navigation a:active,
.user-block a:active {
    color: #000000;
    opacity: 0.3;
}

.features > b {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    color: #000000;
}

.features > a {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 500;
    color: #ffffff;
    line-height: 18px;
}

.features > a:active {
    opacity: 0.3;
}


.index-title {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;

    border: none;
}

.catalog-subheading {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;
}

/* flex*/

.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.studio-logo {
    width: 160px;
    height: 65px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.main-navigation {
    width: 760px;
    height: 65px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.nav-list,
.sort-words,
.sort-arrows,
.selection {
    padding: 0;
    margin: 0;
    list-style: none;
}

.user-block {
    width: 160px;
    height: 65px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.slider {
    width: 1160px;
    height: 415px;
}

.slider > input[type="radio"] {
    display: none;
}

.slider-wrap {
    width: 1160px;
    height: 415px;
    overflow: hidden;
}

.slider-slides {
    width: 300%;
    height: 415px;
}

.slide {
    width: 1160px;
    float: left;
}

.features {
    width: 560px;
    height: 415px;
}


.index-content-top {
    display: flex;
    justify-content: space-between;
}

.index-content-top > div {
    width: 300px;
    height: 430px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.index-content-top > div:last-child {
    margin-right: 60px;
}

.index-content-center {
    height: 790px;
    display:flex;
    justify-content: space-between;
}

.about-us-left {
    width: 660px;
    height: 385px;
    padding: 70px 0;
}

.about-us-right {
    width: 360px;
    height: 415px;
    padding-top: 40px;
    padding-bottom: 70px;
}

.map {
    min-height: 420px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.social-networks {
    width: 260px;
    height: 80px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.discount-offer {
    width: 560px;
    height: 80px;
    margin-top: 70px;
    margin-right: 200px;
    margin-bottom: 70px;
}

.caption {
    height: 75px;
    width: 760px;
    padding: 65px 200px 100px 200px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.shop-content-left {
    width: 260px;
    height: 2230px;
}

.shop-content-right {
    width: 760px;
    height: 2230px;
}

.content-price,
.content-net,
.content-features,
.form-submit {
    width: 260px;
}

.content-price {
    height: 320px;
}
.content-net {
    height: 190px;
}

.content-features {
    height: 275px;
}

.form-submit {
    height: 50px;
}

.shop-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 1925px;
}

.sort {
    width: 760px;
    height: 135px;
}

.item {
    width: 360px;
    height: 615px;
}

.page-selection {
    width: 760px;
    height: 170px;
}


/*Вспомогательные элементы*/

div {
    border: solid 1px red;
}

.container,
.features,
.main-header,
.index-header,
.main-footer,
nav {
    border: solid 1px green;
}

p,
li,
h2 {
    border: solid 1px blue;
}