/* Fonts */

body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    font-weight: 400;

    background-image: url("img/white back background.png");
}

.index-header {
    background-image: url("img/grey back.png");
}

a {
    text-decoration: none;
}

img {
    max-width: 100%; /* картинка не выпадает из родительского контейнера*/
    height: auto; /* картинка пропорциональная */
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.studio-logo {
    width: 160px;
    height: 68px;
    margin-top: 48px;
    margin-bottom: 17px;
    cursor: pointer;
}

.studio-logo:hover,
.studio-logo:focus {
    opacity: 0.8;
}

.studio-logo:active {
    opacity: 0.3;
}

.main-navigation {
    width: 440px;
    height: 57px;
    margin-top: 59px;
    margin-bottom: 17px;
    padding-left: 200px;
    padding-right: 200px;
}

.main-navigation > .nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 57px;
    margin: 0;
}

.main-navigation a {
    display: block;
    height: 57px;
    padding: 17px 0;
}

.user-block {
    width: 160px;
    height: 57px;
    margin-top: 59px;
    margin-bottom: 17px;
}

.user-block .cart {
    display: block;
    padding: 17px 0 17px 85px;
    position: relative;
    height: 57px;
}

.user-block .cart::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 45px;

    width: 17px;
    height: 17px;

    background-image: url("img/cart-icon.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.main-navigation a,
.user-block .cart {
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000000;

    box-sizing: border-box;
}

.main-navigation a:hover,
.main-navigation a:focus,
.user-block .cart:hover,
.user-block .cart:focus {
    color: #fb565a;
}

.main-navigation a:active,
.user-block .cart:active {
    color: #000000;
    opacity: 0.3;
}

.features b {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    color: #000000;
}

.btn {
    display: inline-block;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    cursor: pointer;
}

.btn:active {
    box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
}

a.learn-more {
    position: absolute;
    bottom: 80px;
    left: 0;
    z-index: 1;
    width: 240px;
    height: 50px;
    background-color: #fb565a;
}

a.learn-more:hover,
a.learn-more:focus {
    background-color: #e74246;
}

a.learn-more:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3)
}

a.order {
    width: 160px;
    height: 50px;
}

.web-sites a.order {
    background-color: #fb565a;
}

.web-sites a.order:hover,
.web-sites a.order:focus {
    background-color: #e74246;
}

.web-sites a.order:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3)
}

.applications a.order {
    background-color: #00ca74;
}

.applications a.order:hover,
.applications a.order:focus {
    background-color: #00bc6c;
}

.applications a.order:active {
    background-color: #00aa62;
    color: rgba(255,255,255,0.3)
}

.presentations a.order {
    background-color: #efc84a;
}

.presentations a.order:hover,
.presentations a.order:focus {
    background-color: #eab534;
}

.presentations a.order:active {
    background-color: #e5a722;
    color: rgba(255,255,255,0.3)
}

.index-content-top .index-title {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}

.about-us-left b:first-of-type {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    color: #000000;
}

.about-us-left b:nth-of-type(2),
.about-us-right b:first-of-type {
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.about-us-left .orders,
.about-us-right .assurance ul {
    list-style: none;
}

.assurance ul b{
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    color: #000000;
}

.assurance ul p{
    line-height: 18px;
}

.clients-logos img {
    opacity: 0.2;
    cursor: pointer;
}

.clients-logos img:hover,
.clients-logos img:focus {
    opacity: 1;
}

.clients-logos img:active {
    opacity: 0.1;
}

.map {
    background-image: url("img/map-marker.png"), url("img/layer 2.png");
    background-size: 15%, cover;
    background-repeat: no-repeat;
    background-position: 865px 105px, 0 0;
    width: 100%;
}

.contacts {
    line-height: 18px;
}

.contacts b {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
    color: #000000;
}

.contacts {
    font-style: normal;
    color: #666666;
}

.social-networks .social-btn {
    display: block;
    width: 79px;
    height: 79px;
}

.social-networks .social-btn-vk {
    background-image: url("img/vk-icon.png"), url("img/Shape 2.png");
    background-size: 22px 22px, 79px 79px;
    background-position: 50% 50%, 0 0;
    background-repeat: no-repeat, no-repeat;
}

.social-networks .social-btn-fb {
    background-image: url("img/fb-icon.png"), url("img/Shape 2.png");
    background-size: 22px 22px, 79px 79px;
    background-position: 50% 50%, 0 0;
    background-repeat: no-repeat, no-repeat;
}

.social-networks .social-btn-inst {
    background-image: url("img/insta-icon.png"), url("img/Shape 2.png");
    background-size: 22px 22px, 79px 79px;
    background-position: 50% 50%, 0 0;
    background-repeat: no-repeat, no-repeat;
}

.social-networks .social-btn-vk:hover,
.social-networks .social-btn-vk:focus {
    background-image: url("img/vk-icon.png"), url("img/Shape 2 copy 6.png");
    background-size: 22px 22px, 79px 79px;
    background-position: 50% 50%, 0 0;
    background-repeat: no-repeat, no-repeat;
}

.social-networks .social-btn-fb:hover,
.social-networks .social-btn-fb:focus {
    background-image: url("img/fb-icon.png"), url("img/Shape 2 copy 6.png");
    background-size: 22px 22px, 79px 79px;
    background-position: 50% 50%, 0 0;
    background-repeat: no-repeat, no-repeat;
}

.social-networks .social-btn-inst:hover,
.social-networks .social-btn-inst:focus {
    background-image: url("img/insta-icon.png"), url("img/Shape 2 copy 6.png");
    background-size: 22px 22px, 79px 79px;
    background-position: 50% 50%, 0 0;
    background-repeat: no-repeat, no-repeat;
}

.social-networks .social-btn-vk:active {
    background-image: url("img/vk-icon.png copy 2.png"), url("img/Shape 2 copy 7.png");
    background-size: 22px 22px, 79px 79px;
    background-position: 50% 50%, 0 0;
    background-repeat: no-repeat, no-repeat;
}

.social-networks .social-btn-fb:active {
    background-image: url("img/fb-icon.png copy 2.png"), url("img/Shape 2 copy 7.png");
    background-size: 22px 22px, 79px 79px;
    background-position: 50% 50%, 0 0;
    background-repeat: no-repeat, no-repeat;
}

.social-networks .social-btn-inst:active {
    background-image: url("img/insta-icon.png copy 2.png"), url("img/Shape 2 copy 7.png");
    background-size: 22px 22px, 79px 79px;
    background-position: 50% 50%, 0 0;
    background-repeat: no-repeat, no-repeat;
}

.discount-offer b {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.discount-offer p {
    line-height: 22px;
    color: #444444;
}

.log-in h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    color: #000000;
}

.log-in label {
    font-weight: 700;
    line-height: 18px;
    color: #000000;
}

.caption p {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    color: #000000;
}

.catalog-subheading {
    font-weight: 700;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    font-size: 18px;
}

.net label,
.list-features label {
    line-height: 20px;
}

.sort-words {
    list-style: none;
}

.sort-words a{
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.selection {
    list-style: none;
}

.selection li {
    display: inline-block;
}

/* flex*//* flex*//* flex*//* flex*//* flex*//* flex*//* flex*//* flex*//* flex*//* flex*//* flex*//* flex*//* flex*//* flex*//* flex*/



.slider {
    width: 1160px;
    position: relative;
}

.slider > input[type="radio"] {
    display: none;
}

.slider-wrap {
    width: 1160px;
    height: 415px;
    overflow: hidden;
}

.slider-slides {
    width: 300%;
    height: 415px;
    box-sizing: border-box;
}

.slide {
    box-sizing: border-box;
    width: 1160px;
    float: left;
    height: 415px;
}

.slider-controls .slider-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: #ffffff;
    top: 320px;
    z-index: 1;
    cursor: pointer;
}

.slider-controls .slider-button:first-child {
    left: 535px;
}

.slider-controls .slider-button:nth-child(2){
    left: 570px;
}

.slider-controls .slider-button:last-child{
    left: 605px;
}

#btn-1:checked ~ .slider-controls label.slider-button:first-child,
#btn-2:checked ~ .slider-controls label.slider-button:nth-child(2),
#btn-3:checked ~ .slider-controls label.slider-button:last-child {
    width: 6px;
    height: 6px;
    border: 2px solid #c1c1c1;
    box-shadow: 0 0 0 5px #ffffff;
    top: 325px;
}

#btn-1:checked ~ .slider-controls label.slider-button:first-child {
    left: 540px;
}

#btn-2:checked ~ .slider-controls label.slider-button:nth-child(2) {
    left: 575px;
}

#btn-3:checked ~ .slider-controls label.slider-button:last-child {
    left: 610px;
}

.features {
    width: 560px;
    height: 415px;
    padding: 0;
}

.features > b {
    display: inline-block;
    margin-top: 62px;
    height: 138px;
}

.features > p {
    display: inline-block;
    height: 85px;
    margin: 0;
}

#btn-1:checked ~ .slider-wrap .slide:first-child {
    transform: translateX(0);
}

#btn-2:checked ~ .slider-wrap .slide:first-child,
#btn-2:checked ~ .slider-wrap .slide:nth-child(2) {
    transform: translateX(-100%);
}

#btn-3:checked ~ .slider-wrap .slide:first-child,
#btn-3:checked ~ .slider-wrap .slide:nth-child(2),
#btn-3:checked ~ .slider-wrap .slide:last-child {
    transform: translateX(-200%);
}

#btn-1:checked ~ .slider-wrap .slider-slides {
    background-image: url("img/slide1.png");
    background-repeat: no-repeat;
    background-position: top 0 left 430px;
}

#btn-2:checked ~ .slider-wrap .slider-slides {
    background-image: url("img/slide2.png");
    background-repeat: no-repeat;
    background-position: top 0 left 496px;
}

#btn-3:checked ~ .slider-wrap .slider-slides {
    background-image: url("img/slide3.png");
    background-repeat: no-repeat;
    background-position: top -0 left 400px;
}

.index-content-top {
    display: flex;
    justify-content: space-between;
    background-image: url("img/divide.png");
    background-size: 100% 1px;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.index-content-top > div {
    width: 300px;
    height: 350px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.index-content-top > div:last-child {
    margin-right: 60px;
}

.index-content-top .index-title,
.index-content-top p {
    margin: 0;
}

.index-content-top .index-title {
    margin-top: 25px;
}

.index-content-top p {
    margin-top: 18px;
    margin-bottom: 35px;
}

.index-content-center {
    height: 790px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-us-left {
    width: 660px;
    height: 375px;
    padding: 76px 0;
}

.about-us-left b:first-child {
    display: inline-block;
    margin: 0 0 37px;
}

.about-us-left p{
    margin: 0 0 40px;
}

.about-us-left b:nth-of-type(2) {
    margin: 0 0 26px;
}

.about-us-left .orders {
    padding: 0;
}

.about-us-left li {
    display: block;
    margin: 0 0 27px;
    padding-left: 37px;
    background-image: url("img/Layer 23.png");
    background-repeat: no-repeat;
    background-position: top 50% left 0;
}

.about-us-right {
    width: 360px;
    height: 415px;
    padding-top: 40px;
    padding-bottom: 76px;
}

.about-us-right .nerds-logo {
    width: 360px;
    height: 210px;
}

.assurance {
    text-align: center;
}

.assurance > b {
    display: inline-block;
    margin: 36px 0 38px 0;
}

.assurance ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.assurance li {
    text-align: left;
}

.assurance li > b {
    display: inline-block;
    width: 120px;
    height: 53px;
    margin-bottom: 15px;
}

.assurance li > p {
    margin: 0;
    padding: 0;
    height: 40px;
}

.clients-logos {
    width: 1160px;
    height: 185px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.clients-logos div {
    width: 260px;
    height: 185px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.map {
    min-height: 420px;
    position: relative;
}

.contacts {
    position: absolute;
    width: 320px;
    height: 310px;
    background-image: url("img/white back.png");
    background-repeat: no-repeat;
    background-size: cover;
    top: 55px;
    left: 180px;
    text-align: center;
}

.contacts p {
    margin: 0 0 40px 0;
}

.contacts b {
    display: inline-block;
    margin: 48px 0 25px 0;
}

.contacts .message-us {
    width: 220px;
    height: 50px;
    background-color: #fb565a;
}

.contacts .message-us:hover,
.contacts .message-us:focus {
    background-color: #e74246;
}

.contacts .message-us:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3)
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.social-networks {
    width: 260px;
    height: 80px;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.discount-offer {
    width: 560px;
    height: 80px;
    margin-top: 70px;
    margin-right: 200px;
    margin-bottom: 70px;
}

.discount-offer b {
    display: inline-block;
    margin: 7px 0 12px 0;
}

.discount-offer p {
    margin: 0 0 8px;
}

.main-header {
    background-image: url("img/grey back.png");
}

.caption {
    width: 1160px;
    padding: 60px 200px 110px 200px;
    text-align: center;
}

.caption p {
    display: inline-block;
    margin: 0;
    height: 52px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.shop-content-left {
    width: 260px;
    height: 2227px;
}

.shop-content-right {
    width: 760px;
    height: 2227px;
}

.content-price,
.content-net,
.content-features,
.form-submit {
    width: 260px;
}

.content-price {
    height: 321px;
    border-top: 1px solid transparent;
}

.catalog-subheading {
    height: 28px;
}

.content-price .catalog-subheading {
    margin: 57px 0 49px 0;
}

.catalog-slider {
    width: 260px;
    height: 80px;
    border-radius: 3px;
    background-color: #eeeeee;
    text-align: center;
    margin-bottom: 14px;
}

.catalog-slider input[type="range"] {
    display: inline-block;
    width: 190px;
    height: 2px;
    margin-top: 39px;
}

.slider-range {
    width: 260px;
    height: 38px;
    display: flex;
    margin-bottom: 56px;
}

.slider-range .range-value {
    width: 130px;
    height: 38px;
}

.range-value label {
    display: inline-block;
    height: inherit;
    line-height: 22px;
    text-transform: uppercase;
}

.range-value input[type="text"]{
    width: 80px;
    height: inherit;
    border: none;
    border-radius: 3px;
    background-color: #eeeeee;
    text-align: center;
}

.range-value input[type="text"]{
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    font-weight: 400;
    margin-left: 11px;
}

.range-value.max label {
    margin-left: 12px;
}

.content-net {
    height: 190px;
}

.content-net .catalog-subheading {
    margin: 0 0 14px;
}

.content-net .net {
    height: 106px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.content-net .net input[type="radio"] {
    display: none;
}

.content-net label {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding-left: 36px;
    vertical-align: middle;
}

.content-net label:before {
    content: "";
    width: 25px;
    height: 25px;
    background-image: url("img/radio-off.png");
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}


#adaptive:checked + .adaptive-net:before,
#fixed:checked + .fixed-net:before,
#rubber:checked + .rubber-net:before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("img/radio-on.png");
    opacity: 0.4;
}

.content-net label:hover,
.content-net label:focus {
    color: #000;
}

.content-net input[type="radio"]:checked + label:hover,
.content-net input[type="radio"]:checked + label:focus {
    background-image: url("img/radio-on.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.content-net input[type="radio"]:not(:checked) + label:hover,
.content-net input[type="radio"]:not(:checked) + label:focus {
    background-image: url("img/radio-off.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.content-net input[type="radio"]:checked:disabled + label {
    background-image: url("img/radio-on.png copy 2.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    color: rgba(40, 49, 54, 0.3);
}

.content-net input[type="radio"]:checked:disabled + label:before {
    display: none;
}

.content-net input[type="radio"]:not(:checked):disabled + label {
    background-image: url("img/radio-off.png copy 2.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    color: rgba(40, 49, 54, 0.3);
}

.content-net input[type="radio"]:not(:checked):disabled + label:before {
    display: none;
}

.content-features {
    height: 274px;
}

.content-features .catalog-subheading {
    margin: 0 0 16px;
}

.content-features .list-features {
    height: 184px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.list-features input[type="checkbox"] {
    display: none;
}

.list-features label {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 23px;
    line-height: 23px;
    padding-left: 36px;
    vertical-align: middle;
}

.list-features label:before {
    content: "";
    width: 23px;
    height: 23px;
    background-image: url("img/checkbox-off.png copy.png");
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

#features-slider:checked + .features-slider:before,
#features-block:checked + .features-block:before,
#features-news:checked + .features-news:before,
#features-gallery:checked + .features-gallery:before,
#features-cart:checked + .features-cart:before {
    content: "";
    width: 27px;
    height: 23px;
    background-image: url("img/checkbox-on.png copy.png");
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
}

.content-features label:hover,
.content-features label:focus {
    color: #000;
}

.content-features input[type="checkbox"]:checked + label:hover,
.content-features input[type="checkbox"]:checked + label:focus {
    background-image: url("img/checkbox-on.png copy.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.content-features input[type="checkbox"]:not(:checked) + label:hover,
.content-features input[type="checkbox"]:not(:checked) + label:focus {
    background-image: url("img/checkbox-off.png copy.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.content-features input[type="checkbox"]:checked:disabled + label {
    background-image: url("img/checkbox-on.png copy 2.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    color: rgba(40, 49, 54, 0.3);
}

.content-features input[type="checkbox"]:checked:disabled + label:before {
    display: none;
}

.content-features input[type="checkbox"]:not(:checked):disabled + label {
    background-image: url("img/checkbox-off.png copy 2.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    color: rgba(40, 49, 54, 0.3);
}

.content-features input[type="checkbox"]:not(:checked):disabled + label:before {
    display: none;
}

.btn.submit {
    font-size: 100%;
    font-family: inherit;
    background-color: #eeeeee;
    color: #000;
    padding: 0;
    border: 0;
    width: 260px;
}

.btn.submit:hover,
.btn.submit:focus {
    background-color: #dfdfdf;
}

.btn.submit:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
    outline: none;
}

.sort {
    width: 760px;
    height: 134px;
    display: flex;
    box-sizing: border-box;
}

.sort .catalog-subheading {
    width: 400px;
    height: 28px;
    margin: 57px 0 49px 0;
    font-size: 18px;
}

.sort-words {
    display: flex;
    height: 28px;
    width: 300px;
    margin: 57px 0 49px 0;
    padding: 0;
}

.sort-words li {
    width: 86px;
    height: 28px;
}

.sort-words li:last-of-type {
    width: 128px;
}

.sort-words a {
    display: inline-block;
    width: 100%;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.3);
}

.sort-words a:hover,
.sort-words a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sort-words a:active {
    color: rgba(0, 0, 0, 1);
}

.sort-arrows {
    display: flex;
    list-style: none;
    width: 60px;
    height: 28px;
    margin: 57px 0 49px 0;
    padding: 0;
}

.sort-arrows li {
    width: 30px;
    height: 28px;
}

.sort-arrows a {
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-top-width: 10px;
    border-right-color: transparent;
    border-bottom-width: 0;
    border-left-color: transparent;
    margin-top: 9px;
    margin-left: 20px;
}

.sort-arrows li:last-child a{
    transform: rotate(180deg);
}

.sort-arrows a:hover,
.sort-arrows a:focus {
    border-top-color: rgba(0, 0, 0, 0.4);
}

.sort-arrows a:active {
    border-top-color: rgba(0, 0, 0, 1);
}

.shop-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 1923px;
}

.shop-catalog .item {
    width: 360px;
    height: 575px;
    padding-top: 40px;
    background-image: url("img/browser plain.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    overflow: hidden;
}

.shop-catalog .item:hover,
.shop-catalog .item:focus {
    background-image: url("img/browser.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.shop-catalog .item:hover,
.shop-catalog .item:focus {
    box-shadow: 0 6px 15px rgba(0,1,1, 0.25);
}

.item-wrapper {
    width: inherit;
    height: 805px;
}

.item-wrapper:hover,
.item-wrapper:focus {
    position: relative;
    width: 360px;
    height: 345px;
}

.logo-wrapper {
    width: inherit;
    height: 575px;
}

.item .logo-wrapper + .item-card {
    width: 360px;
    height: 230px;
    margin: 0;
    position: absolute;
    clip: inherit;
    clip-path: none;
    left: 0;
    bottom: 0;
    background-image: url("img/white back copy 2.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: translateY(230px);
}

.item-card p {
    line-height: 18px;
    color: #666666;
    margin: 30px 0 30px 0;
    height: 79px;
    box-sizing: border-box;
    text-align: center;
}

.item-card b {
    display: block;
    height: 25px;
    width: 80px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.item-card .purchase {
    width: 200px;
    height: 50px;
    margin-left: 80px;
    background-color: #fb565a;
}

.item-card .purchase:hover,
.item-card .purchase:focus {
    background-color: #e74246;
}

.item-card .purchase:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3)
}

.page-selection {
    width: 760px;
    height: 170px;
    margin-top: 60px;
}

.page-selection .selection {
    list-style: none;
    width: 443px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.selection li {
    width: 50px;
}

.selection li:last-child {
    width: 260px;
}

.selection .page-select {
    width: 50px;
    height: 50px;
    color: #000000;
    background-color: #eeeeee;
}

.selection .action-next {
    width: 260px;
    height: 50px;
    color: #000000;
    background: #eeeeee;
}

.selection .page-select:hover,
.selection .page-select:focus,
.selection .action-next:hover,
.selection .action-next:focus {
    background-color: #dfdfdf;
}

.selection .page-select:hover,
.selection .page-select:focus,
.selection .action-next:hover,
.selection .action-next:focus {
    background-color: #d5d5d5;
}

.modal-log-in {
    position: fixed;
    bottom: 180px;
    left: 50%;
    transform: translateX(-50%);

    width: 760px;
    padding: 68px 100px 85px 100px;

    z-index: 10;

    color: #000;

    background-image: url("img/white back.png");
    background-position: 0 0;
    background-repeat: repeat;

    box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-close {
    position: absolute;
    top: 78px;
    right: 90px;

    width: 21px;
    height: 21px;

    background-image: url("img/close-cross.png");
    background-color: transparent;
    opacity: 0.3;

    font-size: 0;
    border: 0;

    cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.1;
    outline: none;
}

.modal-log-in h2 {
    margin: 0 0 41px;

    font-weight: 500;
    font-size: 45px;
    line-height: 45px;

}

.form-log-in {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-log-in p {
    width: 360px;
    margin: 0 0 33px;
}

.form-log-in p:nth-child(3) {
    width: 760px;
    margin-bottom: 47px;
}

.form-log-in p:last-child {
    margin-bottom: 0;
}

.form-log-in label {
    display: inline-block;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 9px;
}

.form-log-in input {
    box-sizing: border-box;
    width: 360px;
    padding: 14px 14px;
}

.form-log-in textarea {
    box-sizing: border-box;
    width: 760px;
    padding: 15px 15px 64px 15px;
    resize: none;
}

.form-log-in input,
.form-log-in textarea {
    font: inherit;
    line-height: 18px;
    color: #444444;

    border: 2px solid #d7dcde;
    border-radius: 3px;
}

.form-log-in input::-moz-placeholder,
.form-log-in textarea::-moz-placeholder  {color: rgba(68, 68, 68, 0.5);}
.form-log-in input::-webkit-input-placeholder,
.form-log-in textarea::-webkit-input-placeholder {color: rgba(68, 68, 68, 0.5);}
.form-log-in input:-ms-input-placeholder,
.form-log-in textarea:-ms-input-placeholder {color: rgba(68, 68, 68, 0.5);}
.form-log-in input::-ms-input-placeholder,
.form-log-in textarea::-ms-input-placeholder {color: rgba(68, 68, 68, 0.5);}
.form-log-in input::placeholder,
.form-log-in textarea::placeholder {color: rgba(68, 68, 68, 0.5);}

.form-log-in input:hover,
.form-log-in textarea:hover {
    border: 2px solid #b4b9bb;
}

.form-log-in input:focus,
.form-log-in textarea:focus {
    border: 2px solid #000000;
    outline: none;
}

.form-log-in input:focus::-moz-placeholder,
.form-log-in textarea:focus::-moz-placeholder {color: #444444;}
.form-log-in input:focus::-webkit-input-placeholder,
.form-log-in textarea:focus::-webkit-input-placeholder {color: #444444;}
.form-log-in input:focus:-ms-input-placeholder,
.form-log-in textarea:focus:-ms-input-placeholder {color: #444444;}
.form-log-in input:focus::-ms-input-placeholder,
.form-log-in textarea:focus::-ms-input-placeholder {color: #444444;}
.form-log-in input:focus::placeholder,
.form-log-in textarea:focus::placeholder {color: #444444;}

.form-log-in input:focus:invalid,
.form-log-in textarea:focus:invalid {
    border: 2px solid #e74246;
    outline: none;
}

/*Для того, чтобы только при неправильном вводе - invalid стили менялись, нужно убрать required.
Последний делаем форму невалидной сразу, и сразу будут стили invalid применятся на все поля, хотя мы
их даже не трогаем*/

.form-log-in input:focus:invalid::-moz-placeholder,
.form-log-in textarea:focus:invalid::-moz-placeholder {color: #e74246;}
.form-log-in input:focus:invalid::-webkit-input-placeholder,
.form-log-in textarea:focus:invalid::-webkit-input-placeholder {color: #e74246;}
.form-log-in input:focus:invalid:-ms-input-placeholder,
.form-log-in textarea:focus:invalid:-ms-input-placeholder {color: #e74246;}
.form-log-in input:focus:invalid::-ms-input-placeholder,
.form-log-in textarea:focus:invalid::-ms-input-placeholder {color: #e74246;}
.form-log-in input:focus:invalid::placeholder,
.form-log-in textarea:focus:invalid::placeholder {color: #e74246;}

.form-log-in .btn {
    padding: 0;
    border: none;
    width: 260px;
    height: 50px;
    font: inherit;
    font-weight: 500;
    background-color: #fb565a;
}

.form-log-in .btn:hover,
.form-log-in .btn:focus {
    background-color: #e74246;
}

.form-log-in .btn:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3);
    outline: none;
}

.modal-log-in {
    display: none;
}

.modal-show {
    display: block;
    animation-name: bounce;
    animation-duration: 0.6s;
}

@keyframes bounce {
    0% {
        transform: translate(-50%, -2000px);
    }
    70% {
        transform: translate(-50%, 30px);
    }
    90% {
        transform: translate(-50%, -10px);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

.modal-error {
    animation-name: shake;
    animation-duration: 0.6s;
}

@keyframes shake {
    0%, 100% { transform: translateX(-50%); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-51.3%); }
    20%, 40%, 60%, 80% { transform: translateX(-48.7%); }
}

/*Вспомогательные элементы*

div {
    outline: solid 1px red;
}

label {
    outline: solid 1px pink;
}
b,
a,
.container,
.features,
.main-header,
.index-header,
.main-footer,
nav {
    outline: solid 1px green;
}

p,
li,
h2 {
    outline: solid 1px blue;
}